<div class="container-fluid" style="background-color: rgb(178, 207, 71);padding: 0.8%">
    <h2>
        <div class="text-center font-weight-bold" style="color: black;margin-top: 10px;">Instant Loan App &nbsp;&nbsp; </div>
    </h2>
</div>

        
<br>

<ul class="offset-lg-2" style="font-size: large;margin-top: 15px;">
    <li>Personal loan apps offer loans instantly or within a few hours with interest rate ranging from 2% to 11%.</li><br>
    <li>Instant and paperless approvals at lower rates.</li><br>
    <li>Hassle-free application process and can be completed in a few minutes.</li><br>
    <li>Free personalized assistance from MyLoanCare representative.</li><br>
</ul>

<div class="offset-md-4">
<button class="mybutton" (click)="login()">Login</button>&nbsp;&nbsp;
<button class="mybutton" (click)="signUp()">Sign Up</button>
</div>

