    <h2>
        <div class="text-center font-weight-bold" style="padding: 0.5%;color: black;background-color: rgb(178, 207, 71);">Account Details &nbsp;&nbsp; </div>
    </h2>


    <br>
<div>
    <button class="offset-lg-11 btn btn-primary" (click)="editProfile()"> Edit Profile </button>
</div>
    <br>
    <table class="table table-responsive offset-lg-3" style="margin-top: -10px;">
        <tr>
            <th>Name</th>
            <td>{{custName}}</td>
        </tr>
        <tr>
            <th>Account Number</th>
            <td>{{accNum}}</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>{{mobNum}}</td>
        </tr>
        <tr>
            <th>Email ID</th>
            <td>{{email}}</td>
        </tr>
    </table>
