<div class="sticky">
    <div class="text-center "
        style="font-family: cursive;background-color:rgb(86, 61, 124);">
        <img src='assets\nanabce.png' width="450" height="155">
    </div>

    <div style="background-color: rgb(255, 181, 43);padding: 0.4%;">
        <button class="col-lg-3 btn btn-outline-dark headerbutton" (click)="home()">Home</button>
        <button class="col-lg-3 btn btn-outline-dark headerbutton" (click)="terms()">Terms & Conditions</button>
        <button class="col-lg-3 btn btn-outline-dark headerbutton"(click)="aboutUs()">About Us</button>
        <button class="col-lg-3 btn btn-outline-dark headerbutton"(click)="contactUs()">Contact Us</button>
    </div>
</div>


    <router-outlet></router-outlet>

