<div class="container-fluid" style="background-color: rgb(178, 207, 71);padding: 0.8%">
    <h2>
        <div class="text-center font-weight-bold" style="color: black;margin-top: 10px;">About Our Services &nbsp;&nbsp;
        </div>
    </h2>
</div>
<br>
<div class=" offset-lg-2" style="font-size: large;">
        <li>We are multi-state lender, we can offer the competitive rates that matter most in loan sector.</li><br>
        <li>Our company values - Excellence, Integrity, Customer Experience.</li><br>
        <li>Our services makes you financially healthy !</li><br>
</div>

<div class="offset-sm-1">
    <a>
        <button class="btn btn-outline-info">
            <img src='assets\loan.jpg' width="300" height="100">
        </button>&nbsp;
    </a>
    <a>
        <button class="btn btn-outline-info">
            <img src='assets\cemi.jpg' width="300" height="100">
        </button>&nbsp;
    </a>
    <a>
        <button class="btn btn-outline-info">
            <img src='assets\bal.jpg' width="300" height="100">
        </button>&nbsp;
    </a>
    <a>
        <button class="btn btn-outline-info">
            <img src='assets\pt2.jpg' width="300" height="100">
        </button>&nbsp;
    </a>
</div>