<div class="container-fluid" style="background-color: rgb(178, 207, 71);padding: 0.8%">
    <h2>
        <div class="text-center font-weight-bold" style="color: black;margin-top: 10px;">Terms & Conditions &nbsp;&nbsp;
        </div>
    </h2>
</div>
<div class="offset-lg-2" style="margin-top: 5%;">
    <ul class="text-left" style="font-size: large;">
        <li>To Apply a Loan an active Svaings/Salary Account should be needed.</li><br>
        <li>Asset value for the loan should be greater than 150% of the loan Amount.</li><br>
        <li>An Account can have only one active Loan at a time.</li><br>
    </ul>
</div>