<div class="container-fluid" style="background-color: rgb(178, 207, 71);padding: 0.8%">
    <h2>
        <div class="text-center font-weight-bold" style="color: black;margin-top: 10px;">Contact Us &nbsp;&nbsp; </div>
    </h2>
</div>

<div class="row" style="margin-top: 2%;">
    <div class="offset-lg-2 card">
        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
    </div>

    <div class="offset-lg-2 card">
        <a href="https://twitter.com/explore" class="fa fa-twitter"></a>
    </div>

    <div class="offset-lg-2 card">
        <a href="https://about.google/" class="fa fa-google"></a>
    </div>

    <div class="offset-lg-2 card">
        <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
    </div>
</div>

<div class="row" style="margin-top: 5%;">
    <div class="offset-lg-2 card">
        <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
    </div>

    <div class="offset-lg-2 card">
        <a href="https://www.instagram.com/?hl=en" class="fa fa-instagram"></a>
    </div>

    <div class="offset-lg-2 card">
        <a href="https://in.pinterest.com/" class="fa fa-pinterest"></a>
    </div>

    <div class="offset-lg-2 card">
        <a href="https://www.tumblr.com/" class="fa fa-tumblr"></a>
    </div>
</div>

