<div class="container-fluid" style="background-color: rgb(178, 207, 71);padding: 0.8%">
        <h2>
            <div class="text-center font-weight-bold" style="color: black;margin-top: 10px;">Login &nbsp;&nbsp; </div>
        </h2>
    </div>
 
        <div class="jumbotron" style="background-color: white;">
                <form [formGroup]="loginForm" (ngSubmit)="login()" >
                    <div class="form-group row offset-sm-3">
                        <label for="userName" class=" text-right font-weight-bold">User Name :</label>&nbsp;

                            <input type="text"  class="form-control" formControlName="userName" placeholder="Enter Your User Name">
                            <div class="error" *ngIf="submitted && loginForm.controls.userName.errors">
                                <div class="text-danger" *ngIf="loginForm.controls.userName.errors.required">
                                    *User Name is Required..!!
                                </div>
                                <div class="text-danger" *ngIf="loginForm.controls.userName.errors.pattern">
                                    *User Name must begin with capital letter and 15 characters long..!!
                                </div>
                            </div>
                        
                    </div>
                    <div class="form-group row offset-sm-3">&nbsp;&nbsp;
                        <label for="password" class=" text-right font-weight-bold">password :</label>&nbsp;
            
                            <input type="password" class="form-control" formControlName="password" placeholder="Enter Your Password">
                           
                            <div class="error" *ngIf="submitted && loginForm.controls.password.errors">
                                <div class="text-danger" *ngIf="loginForm.controls.password.errors.required">
                                    *Password is Required..!!
                                </div>
                            </div>
                    </div>
                    <br>
                    <div class="offset-lg-8" >
                        <button class="btn btn-outline-success"  type="submit"> Login </button>&nbsp;
                    </div>
                </form>
                <br>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                       Don't have an account?
                        <span class="offset-lg-1"></span>
                        <button class="btn btn-outline-info" style="padding: 0.2px 10px" (click)="signUp()">Sign up</button>&nbsp;&nbsp;
                        <button class="mybutton" style="padding: 4.5px 10px" (click)="home()">Go back to home</button>
                </div>
        
            </div>
           
        
        </div>
  