<h2>
  <div class="text-center font-weight-bold" style="padding: 0.5%;color: black;background-color: rgb(178, 207, 71);">Loan
    Application &nbsp;&nbsp; </div>
</h2>

<form [formGroup]="applyLoanForm" (ngSubmit)="applyLoan()">
  <div class="container">
    <div class="form-group row">
      <label for="loanAmt" class="col-lg-5"><b>Loan Amount </b></label>
      <input type="number" class="form-control col-lg-5" formControlName="loanAmt" placeholder="Enter Loan Amount" />
    </div>
    <div *ngIf="applyLoanForm.controls.loanAmt.errors">
      <div class="text-danger error" *ngIf="s && applyLoanForm.controls.loanAmt.errors.required">
        *Loan Amount is required..!!<br>
      </div>
      <div class="text-danger error" *ngIf="s && applyLoanForm.controls.loanAmt.errors.min">
        *Loan Amount should be greater than 5000..!!<br>
      </div>
    </div>
    <div class="form-group row">
      <label for="assetVal" class="col-lg-5"><b>Asset Value </b></label>
      <input type="number" class="form-control col-lg-5" formControlName="assetVal" placeholder="Enter Asset Value" />
    </div>
    <div *ngIf="applyLoanForm.controls.assetVal.errors">
      <div class="text-danger error" *ngIf="s && applyLoanForm.controls.assetVal.errors.required">
        *Asset Value is required..!!<br>
      </div>
    </div>
    <div class="text-danger error" *ngIf="s && applyLoanForm.errors?.assetError">
      *Asset Value should be greater than <br> 150% of the Loan Amount..!!
      <br>
    </div>
    <div class="form-group row">
      <label for="time" class="col-lg-5"><b>Tenure Period</b></label>
      <input type="number" class="form-control col-lg-5" formControlName="time" placeholder="Enter Tenure Period" />
    </div>
    <div *ngIf="applyLoanForm.controls.time.errors">
      <div class="text-danger error" *ngIf="s && applyLoanForm.controls.time.errors.required">
        *Tenure Period is required..!!<br>
      </div>
      <div class="text-danger error"
        *ngIf="s && (applyLoanForm.controls.time.errors.min || applyLoanForm.controls.time.errors.max)">
        *Tenure Period must be from 1 to 5 years..!!<br>
      </div>
    </div>
    <div class="form-group row">
      <label for="loanType" class="col-lg-5"><b>Loan Type </b></label>
      <select id="loanType" type="text" class="form-control col-lg-5" formControlName="loanType">
        <option value="" hidden selected>Select a Loan Type</option>
        <option value="Home">Home</option>
        <option value="Educational">Educational</option>
        <option value="Vehicle">Vehicle</option>
        <option value="Personal">Personal</option>
      </select>
    </div>
    <div *ngIf="applyLoanForm.controls.loanType.errors">
      <div class="text-danger error" *ngIf="s && applyLoanForm.controls.loanType.errors.required">
        *Loan Type is required..!! <br>
      </div>
    </div>
    <br>
    <button class="btn btn-primary btn-lg btn-block" style="margin: auto;" type="submit">Apply Loan</button>
  </div>
  <div class="container" style="background-color:#f1f1f1">
    <button type="reset" class="btn btn-danger cancelbtn" (click)="onReset()">Reset</button>
  </div>
</form>